name: Application Observability

on:
  issue_comment:
    types: [created]
  pull_request_review_comment:
    types: [created]
  issues:
    types: [opened, assigned]

jobs:
  apm-analysis:
    if: contains(github.event.comment.body, '@awsapm') || contains(github.event.issue.body, '@awsapm')
    runs-on: ubuntu-latest
    permissions:
      contents: write        # To create branches for PRs
      pull-requests: write   # To post comments on PRs
      issues: write          # To post comments on issues
      checks: write          # To create check runs with detailed results
      id-token: write        # required to configure AWS credentials using OIDC 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }} # this should be the ARN of the IAM role created for Github Actions
          aws-region: ${{ env.AWS_REGION }}

      - name: Run AWS APM Agent
        uses: ezhang6811/application-observability-for-aws@7150015159b816bf9edcf52fd01a3db3fa0bb15